<ion-content>

  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
      <img src="assets/img/logo.png">
      <h1>Sistema de asistencia <ion-text style="color: #ffc409;">DUOC</ion-text> </h1>
    </ion-label>
  </ion-title>

  <div class="ion-padding-vertical">

    <ion-card class="ion-text-center ion-padding-vertical">

      <ion-card-title class="ion-text-center">
        <ion-label>
          <h2>Recuperar contraseña</h2>
          <br>
          <h2>Paso 2: Responde la pregunta secreta</h2>
        </ion-label>
      </ion-card-title>
      <h4 *ngIf="usuario" style="color:#130a34;">{{ usuario.nombreRegistrado }}</h4>                             
      <h4 *ngIf="usuario" style="color:rgb(0, 84, 157)">{{ usuario.preguntaSecreta }}</h4>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Ingresa tu respuesta</ion-label>
          <ion-input type="text" [(ngModel)]="usuario.respuestaSecreta"></ion-input>
        </ion-item>
        <br>
        <ion-row>
          <ion-col size="12">
            <ion-button class="font1" color="tertiary" shape="block" (click)="devolver()">Recuperar Contraseña &nbsp;<ion-icon name="enter-outline"></ion-icon></ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
      
      <ion-label>
        <br>

      </ion-label>
      
    </ion-card>
    <ion-title class="ion-padding-top ion-text-center">
    <h5><a routerLink="/login">Iniciar Sesión</a></h5>
  </ion-title>
  </div>

</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title style="font-size: 10px;">Realizado por Javiera Luco - Sebastian Moya</ion-title>
  </ion-toolbar>
</ion-footer>